---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
---

<StarlightPage
        frontmatter={{title: 'Imprint for Quacklytics', tableOfContents: false}}
        hasSidebar={false}
>
    <div class="prose">
        <h2>
            According to § 5 TMG
        </h2>
        <p>
            Felix Mennen (https://quacklytics.com) <br>
            Represented by its managing directors: Felix Mennen
        </p>
        <h2>
            Contact
        </h2>
        <p>E-mail: felix@quacklytics.com</p>
        <h2>

            Liability for content
        </h2>
        <p>
            The contents of our pages were created with great care. However, we cannot guarantee that the content is correct, complete and up to date. As a service provider, we are responsible for our own content on these pages in accordance with Section 7 (1) of the German Telemedia Act. According to §§ 8 to 10 TMG, we as a service provider are not obliged to monitor transmitted or stored third-party information or to investigate circumstances that indicate illegal activity. Obligations to remove or block the use of information according to general laws remain unaffected. However, liability in this regard is only possible from the time we become aware of a specific legal violation. As soon as we become aware of such violations, we will remove this content immediately.
        </p>
        <h2>
            Liability for links
        </h2>
        <p>
            Our offer contains links to external websites of third parties, the content of which we have no influence on. For this reason, we cannot accept any liability for this external content. The respective provider or operator is always responsible for the content of the linked pages. The linked pages were checked for possible legal violations at the time the link was created. No illegal content was discernible at the time the link was created. A permanent control of the content of the linked pages is not reasonable without concrete evidence of an infringement. As soon as we become aware of legal violations, we will remove such links immediately.
        </p>
    </div>
</StarlightPage>
