<footer class="py-4 mt-8">
    <div class="container mx-auto flex flex-col md:flex-row justify-between items-center text-sm">
        <p class="mb-2 md:mb-0">&copy; {new Date().getFullYear()} Built by Felix Mennen</p>
        <nav class="flex flex-row gap-4">
            <a href="/imprint" class="hover:underline">Imprint</a>
            <a href="/data-privacy" class="hover:underline">Data Privacy</a>
        </nav>
    </div>
</footer>
